.title
{
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:120px;
    text-align: center;
    font-family: 'Yatra One', cursive;
}
.sub
{
    font-size:50px;
    text-align: center;
    font-family: 'Yatra One', cursive;

}
.shloka
{
    text-align: left;
    font-family: 'Yatra One', cursive;
}
.topic
{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(78,255,42,1) 0%, rgba(0,212,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size:70px;
    text-align: center;
    font-family: 'Yatra One', cursive;
}

.topic_ending
{
    font-family: 'Yatra One', cursive;
    text-align: center;
    background-image: linear-gradient(45deg, #f3ec78, #af4261);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.contact
{
    font-size:20px;
    color: bisque;
}
.contrib
{
    text-align: center;
    font-size:14px;
    color: burlywood;
}
.meaning
{
    color:wheat;
}

audio {
    filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(92%);
    width: 400px;
    height: 25px;
}

